body{
		font-family: 'Oswald', sans-serif;
		margin: 0;
}
#masteries_Container{
	position: relative;
	display: inline-block;
	width: 827px;
	height: 479px;
	background-image: url("../img/masteryback.jpg");

}
#masteries_Ferocity{
	position: relative;
	display: inline-block;
	width: 270px;
	height: 479px;
}
#masteries_Cunning{
	position: relative;
	display: inline-block;
	width: 270px;
	height: 479px;
}
#masteries_Resolve{
	position: relative;
	display: inline-block;
	width: 270px;
	height: 479px;
}
#logo_Ferocity{
	height: 440px;
}
#logo_Cunning{
	height: 440px;
}
#logo_Resolve{
	height: 440px;
}
#text_Ferocity{
	color: white;
	margin-left: 25px;
}
#text_Cunning{
	color: white;
	margin-left: 25px;
}
#text_Resolve{
	color: white;
	margin-left: 25px;
}
.masteryWidthLimit{
	width:260px;
}
#mastery-102,#mastery-104,#mastery-107,#mastery-109,#mastery-111,#mastery-113,#mastery-116,#mastery-118,#mastery-121,#mastery-123,#mastery-125,#mastery-127,#mastery-130,#mastery-132,#mastery-134,#mastery-136,#mastery-138,#mastery-140{
	padding-left:  20px;
	padding-top: 15px;
	position: relative;
	display: inline-block;
	-webkit-filter: grayscale(100%);
}
#mastery-103,#mastery-108,#mastery-112,#mastery-117,#mastery-122,#mastery-126,#mastery-131,#mastery-135,#mastery-139{
	padding-left:  90px;
	position: relative;
	display: inline-block;
	-webkit-filter: grayscale(100%);
}

#mastery-105,#mastery-106,#mastery-110,#mastery-114,#mastery-115,#mastery-119,#mastery-120,#mastery-124,#mastery-128,#mastery-129,#mastery-133,#mastery-137,#mastery-141,#mastery-142{
	padding-left:  20px;
	position: relative;
	display: inline-block;
	-webkit-filter: grayscale(100%);
}

#mastery-text-102,#mastery-text-103,#mastery-text-104,#mastery-text-105,#mastery-text-106,#mastery-text-107,#mastery-text-108,#mastery-text-109,#mastery-text-110,
#mastery-text-111,#mastery-text-112,#mastery-text-113,#mastery-text-114,#mastery-text-115,#mastery-text-116,#mastery-text-117,#mastery-text-118,#mastery-text-119,
#mastery-text-120,#mastery-text-121,#mastery-text-122,#mastery-text-123,#mastery-text-124,#mastery-text-125,#mastery-text-126,#mastery-text-127,#mastery-text-128,
#mastery-text-129,#mastery-text-130,#mastery-text-131,#mastery-text-132,#mastery-text-133,#mastery-text-134,#mastery-text-135,#mastery-text-136,#mastery-text-137,
#mastery-text-138,#mastery-text-139,#mastery-text-140,#mastery-text-141,#mastery-text-142{
	position: absolute;
	display: none;
	margin: 0;
	padding: 0;
	width: 25px;
	height: 12px;
	bottom: -5px;
	right: 1px;
	background-color: black;
	color: orange;
	text-align: center;
	font-size: 10px;
	border: 1px solid orange;
	line-height: 13px;
}

